<div class="row">
            <div class="col-md-12">

                <h1>Ordenes</h1>
            </div>
  
            <div class="col-lg-4">
                <div class="widget style1 navy-bg">
                     
                        <div class="col-12 text-center" >
                            <i class="fa fa-shopping-bag fa-5x"></i>
                        </div>
                        <div class="col-12 text-center">
                            <span> Total Ordenes </span>
                            <h2 class="font-bold">{{contTotalOrders}}</h2>
                        </div>
                    </div>
            </div>       
                        <div class="col-lg-4">
                <div class="widget style1 navy-bg">
                     
                        <div class="col-12 text-center" >
                            <i class="fa fa-shopping-bag  fa-5x"></i>
                        </div>
                        <div class="col-12 text-center">
                            <span> Ordenes Abiertas </span>
                            <h2 class="font-bold">{{contOpenOrders}}</h2>
                        </div>
                    </div>
            </div>     

                                    <div class="col-lg-4">
                <div class="widget style1 navy-bg">
                     
                        <div class="col-12 text-center" >
                            <i class="fa fa-shopping-bag  fa-5x"></i>
                        </div>
                        <div class="col-12 text-center">
                            <span> Ordenes Cerradas </span>
                            <h2 class="font-bold">{{contCloseOrders}}</h2>
                        </div>
                    </div>
            </div>    
          <div class="col-md-12">

                <h1>Productos</h1>
            </div>
      
                                    <div class="col-lg-4">
                <div class="widget style1 navy-bg">
                     
                        <div class="col-12 text-center" >
                            <i class="fa fa-shopping-cart fa-5x"></i>
                        </div>
                        <div class="col-12 text-center">
                            <span> Total Productos </span>
                            <h2 class="font-bold">{{ContTotalProducts}}</h2>
                        </div>
                    </div>

</div>
                      <div class="col-md-12">

                <h1>Usuarios</h1>
            </div>
      
            <div class="col-lg-4">
                <div class="widget style1 navy-bg">
                     
                        <div class="col-12 text-center" >
                            <i class="fa fa-user-o fa-5x"></i>
                        </div>
                        <div class="col-12 text-center">
                            <span> Total Usuarios </span>
                            <h2 class="font-bold">{{ContTotalUsers}}</h2>
                        </div>
                    </div>        
            </div>  

              <div class="col-lg-4">
                <div class="widget style1 navy-bg">
                     
                        <div class="col-12 text-center" >
                            <i class="fa fa-user-o fa-5x"></i>
                        </div>
                        <div class="col-12 text-center">
                            <span> Total Activos </span>
                            <h2 class="font-bold">1</h2>
                        </div>
                    </div>        
            </div>  

                   <div class="col-lg-4">
                <div class="widget style1 navy-bg">
                     
                        <div class="col-12 text-center" >
                            <i class="fa fa-user-o  fa-5x"></i>
                        </div>
                        <div class="col-12 text-center">
                            <span> Total Inactivos </span>
                            <h2 class="font-bold">0</h2>
                        </div>
                    </div>        
            </div>  
        
    </div>    