  hola


  
 
{{#each cart}}
    {{#each items}}
                        <div class="row mb-2">
                            <input type="hidden" name="productos[{{@index}}][id]" value="{{item._id}}">
                            <div class="col-md-6"> <input class="form-control" type="text"
                                    name="productos[{{@index}}][code]" value=" {{item.code}} "></div>
                           
                            <div class="col-md-4"><input class="form-control" type="text"
                                    name="productos[{{@index}}][qty]" value=" {{qty}} "></div>
                            <div class="col-md-2" style="ml-2"> <input type="button" class="btn btn-success"
                                    id="add_cancion()" onClick="addCancion()" value="+" />
                            </div>
                        </div>
                        {{/each}}
{{/each}}